@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 dark:bg-slate-900 w-screen h-screen;
    }
}

@layer utilities {
    .cartograph-cf-regular {
        font-family: cartograph-cf-regular;
    }

    .cartograph-cf-regular-italic {
        font-family: cartograph-cf-regular-italic;
    }

    @font-face {
        font-family: cartograph-cf-regular;
        src: url('./assets/font/cartograph-cf-regular.otf');
    }

    @font-face {
        font-family: cartograph-cf-regular-italic;
        src: url('./assets/font/cartograph-cf-regular-italic.otf');
    }

    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-slate-300 dark:bg-slate-600 rounded-full;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-400 dark:bg-slate-500;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-slate-200 dark:bg-slate-700 rounded-full;
    }
}